.customizer{
    margin-top: 100px;
    margin-left: 20px;
    border: 2px solid #032d62;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 6fr 3fr;
    justify-content: center;
    border-radius: 10px;
    background-color: #8f929a;
}

.customizerInput{
    /*border: 1px solid #0048ff;*/
    /*display: flex;*/
    /*justify-content: center;*/
    border: 2px solid #032d62;
    width: 170px;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #032d62;

}


.inputItem{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 8px;
}

.customizerInput input{
    border: 2px solid #faef24;
    border-radius: 3px;
    width: 50px;
    height: 20px;
}

.customizerErrorInput{
    border: 2px solid #032d62;
    width: 170px;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #032d62;
}

.customizerErrorInput input{
    border: 2px solid #d20202;
    border-radius: 3px;
    background-color: rgb(246, 126, 126);
    width: 50px;
    height: 20px;
}

.customizerButton{
    display: flex;
    border: 2px solid #032d62;
    justify-content: space-around;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #032d62;
    align-items: center;
}